* {
    box-sizing: border-box;
}

:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

.main {
    position: absolute;
    left: 0;
    top: 0;

    width: 100vw;
    height: 100vh;

    background-color: wheat;

    display: flex;
    align-items: center;
    justify-content: center;
}

.main__table {
    margin-bottom: 5rem;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main__score {
    margin-bottom: 1rem;
}

.score__display {
    width: 10rem;
    height: 10rem;

    font-size: 25px;

    border: 2px solid burlywood;
    border-radius: 100%;

    background-color: bisque;

    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main__input {
    display: flex;
    align-items: baseline;
    justify-content: center;
}

.main__input input{
    padding: 0.5rem;
    margin-left: -5px;

    border: 2px solid burlywood;
    border-radius: 5px;

    background-color: bisque;
}

::-ms-clear {
    display: none;
}

::-ms-clear {
    width: 0;
    height: 0;
}

.score__button {
    color: burlywood;
    background-color: bisque;
    margin-left: -25px;

    font-size: 20px;

    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}